#categories-buttons{
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
 

    .category-btn{
        border-radius: 20px;
    }
}









.product-cards {
    padding: 50px 100px 50px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}


.product-card {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
}

.product-image img {
    width: 100%;
    height: 180px;
    object-fit: contain;  
    padding: 15px;
}






.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-content {
    padding: 15px;
}

.card-info h3 {
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 1.3;
}

.price {
    font-size: 0.95rem;
}



.card-buttons {
    display: flex;
    gap: 10px;
}

.card-buttons button {
    padding: 6px 8px;
    font-size: 0.8rem;
    border-radius: 5px;
}

.btn-outline {
    border: 1px solid #2563eb;
    background: transparent;
    color: #2563eb;
}



.btn-primary {
    border: none;
    background: #2563eb;
    color: white;
}

.card-tags{
    display: block;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}