#categories-buttons{
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
 

    .category-btn{
        border-radius: 20px;
    }
}